.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* ------ 
            header 
                    -------*/

.home__header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
}

.home__header a {
  margin-right: 20px;
  text-decoration: inherit;
  color: rgba(0, 0, 0, 0.87);
  font-size: 15px;
}

.home__header a:hover {
  text-decoration: inderline;
}

.home__headerRight {
  display: flex;
  align-items: center;
  min-width: 13vw;
  justify-content: space-between;
}

.home__headerRight > .MuiSvgIcon-root {
  margin-right: 20px;
}

/* ------    
            body 
                    -------*/
.home__body {
  flex: 1;
  display: flex;
  margin-top: 10%;
  flex-direction: column;
}

.home__body > img {
  object-fit: contain;
  height: 100px;
}

/* ------    
            Search Input 
                           -------*/
.search__input {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  height: 30px;
  padding: 10px 20px;
  border-radius: 999px;
  width: 75vw;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 560px;
}

.search__input > input {
  flex: 1;
  padding: 10px 20px;
  font-size: medium;
  border: none;
}
.search__input > input:focus {
  outline-width: 0;
}

.search__inputIcon {
  color: gray;
}
