.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* ------ 
            header 
                    -------*/

.home__header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
}

.home__header a {
  margin-right: 20px;
  text-decoration: inherit;
  color: rgba(0, 0, 0, 0.87);
  font-size: 15px;
}

.home__header a:hover {
  text-decoration: inderline;
}

.home__headerRight {
  display: flex;
  align-items: center;
  min-width: 13vw;
  justify-content: space-between;
}

.home__headerRight > .MuiSvgIcon-root {
  margin-right: 20px;
}

/* ------    
            body 
                    -------*/
.home__body {
  flex: 1;
  display: flex;
  margin-top: 10%;
  flex-direction: column;
}

.home__body > img {
  object-fit: contain;
  height: 100px;
}

/* ------    
            Search Input 
                           -------*/
.search__input {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  height: 30px;
  padding: 10px 20px;
  border-radius: 999px;
  width: 75vw;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 560px;
}

.search__input > input {
  flex: 1;
  padding: 10px 20px;
  font-size: medium;
  border: none;
}
.search__input > input:focus {
  outline-width: 0;
}

.search__inputIcon {
  color: gray;
}

.search__buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.search__buttons button {
  margin: 5px;
  padding: 7px 15px;
  background-color: #f8f8f8;
  border: 1px soldi white;
  text-transform: inherit;
  color: #5f6368;
}

.search__buttons button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
}

.search__buttonsHidden {
  display: none !important;
}
.searchPage__header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  align-items: flex-start;
  padding: 30px;
  border-bottom: 1px solid lightgray;
}

.searchPage__logo {
  object-fit: contain;
  height: 50px;
  margin-right: 50px;
}

.searchPage__header > .search > .search__input {
  margin-top: 0;
  width: unset;
  margin: unset;
  max-width: unset;
}

.searchPage__options {
  display: flex;
  align-items: center;
  color: grey;
  margin-top: 30px;
}

.searchPage__options a,
.searchPage__optionsRight a {
  text-decoration: none;
  color: grey;
}

.searchPage__optionsRight,
.searchPage__optionsLeft {
  display: flex;
}

.searchPage__optionsRight {
  margin-left: 80px;
}

.searchPage__option {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.searchPage__option a {
  margin-left: 5px;
}

.searchPage__result {
  margin: 40px 0;
}

.searchPage__resultCount {
  color: #70757a;
  font-size: 14px;
}

.searchPage__results {
  max-width: 650px;
  margin-top: 20px;
  margin-left: 240px;
  margin-bottom: 100px;
}

.searchPage__resultTitle {
  text-decoration: none;
}

.searchPage__resultTitle:hover {
  text-decoration: underline;
}

.searchPage__resultTitle > h2 {
  font-weight: 500;
}

.searchPage__resultSnippet {
  margin-top: 10px;
}

.searchPage__resultLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  margin-bottom: 3px;
}

.searchPage__resultImage {
  object-fit: contain;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.searchPage__headerBody > .search > .search__input {
  margin-left: 0;
  margin-top: 0;
}
